body{
background-color: aqua;    
}
section{
height: 100vh;
background-size: cover; 
background-repeat: no-repeat;  
background-position:center center; 
}
.katarogu{
background-image:url(images/gihuto1.jpg);
text-align:center;  
padding-top:10vh;
}
.title{
font-family:'Roboto', sans-serif;
font-size:4.6rem;
}
.syouhinn{
background-image:url(images/gihuto2.jpg); 
}
.title{
font-family:'Roboto', sans-serif;
font-size:4.6rem;
}
.contact{
background-image:url(images/gihuto3.jpg);    
}
.title{
font-family:'Roboto', sans-serif;
font-size:4.6rem;
}